.version.layout_design /* version checker */
{
	color: #00000F;
	background-color: #A8C8B9;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -62px;
	width: 0.01px;
}

#u290
{
	z-index: 50;
	margin-bottom: -9px;
	margin-right: -10000px;
	left: 62px;
}

#u117,#u117-bw
{
	z-index: 2;
	min-height: 48px;
}

#pbuttonu228
{
	width: 0.01px;
	margin-left: 299px;
}

#buttonu228
{
	z-index: 4;
	width: 40px;
	margin-right: -10000px;
	left: 668px;
	padding: 24px 11px 16px 13px;
}

#buttonu228:hover
{
	width: 40px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu228.ButtonSelected
{
	width: 40px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u229
{
	z-index: 5;
	width: 40px;
	height: 5px;
}

#buttonu228:hover #u229
{
	width: 40px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

#buttonu228.ButtonSelected #u229
{
	width: 40px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

#u230
{
	z-index: 6;
	width: 40px;
	height: 5px;
	margin-top: 7px;
}

#buttonu228:hover #u230
{
	width: 40px;
	height: 5px;
	min-height: 0px;
	margin: 7px 0px 0px;
}

#buttonu228.ButtonSelected #u230
{
	width: 40px;
	height: 5px;
	min-height: 0px;
	margin: 7px 0px 0px;
}

#u231
{
	z-index: 7;
	width: 40px;
	height: 5px;
	margin-top: 6px;
}

#buttonu228:hover #u231
{
	width: 40px;
	height: 5px;
	min-height: 0px;
	margin: 6px 0px 0px;
}

#buttonu228.ButtonSelected #u231
{
	width: 40px;
	height: 5px;
	min-height: 0px;
	margin: 6px 0px 0px;
}

#pamphletu232
{
	z-index: 8;
	width: 0.01px;
	height: 52px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 674px;
}

#u280
{
	z-index: 9;
	width: 54px;
	margin-right: -10000px;
}

#u281
{
	width: 54px;
	height: 52px;
}

.ie #u281
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u233popup
{
	z-index: 11;
}

#u233
{
	width: 344px;
	top: 33px;
	left: -743px;
}

#u234
{
	z-index: 12;
	width: 344px;
	height: 466px;
	margin-right: -10000px;
}

#menuu235
{
	z-index: 13;
	width: 180px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 80px;
}

#u246
{
	width: 180px;
	min-height: 17px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u248-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u246:hover #u248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u246:active #u248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u265
{
	width: 180px;
	min-height: 17px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u267-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u246.MuseMenuActive #u248-4,#u265:active #u267-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u239
{
	width: 180px;
	min-height: 17px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u241-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u265.MuseMenuActive #u267-4,#u239:active #u241-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u251
{
	width: 180px;
	min-height: 17px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u252-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u239.MuseMenuActive #u241-4,#u251:hover #u252-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u251:active #u252-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u243,#u264,#u236,#u250,#u1527
{
	width: 180px;
}

#u1530
{
	width: 180px;
	min-height: 17px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u246.MuseMenuActive,#u265.MuseMenuActive,#u239.MuseMenuActive,#u251.MuseMenuActive,#u1530.MuseMenuActive
{
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1533-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u251.MuseMenuActive #u252-4,#u1530:hover #u1533-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u1530:active #u1533-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u1530.MuseMenuActive #u1533-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u282
{
	width: 55px;
	padding-bottom: 4px;
	top: -24px;
	left: -600px;
}

#u282:active
{
	width: 55px;
	min-height: 0px;
	margin: 0px;
}

#u283-4
{
	z-index: 45;
	width: 37px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#u283-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 37px;
	margin: 9px -10000px 0px 0px;
}

#u892-4
{
	z-index: 52;
	width: 362px;
	min-height: 45px;
	background-color: transparent;
	letter-spacing: 5px;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#slideshowu893
{
	z-index: 56;
	width: 0.01px;
	height: 677px;
	left: -119px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u904
{
	position: absolute;
	width: 871px;
	height: 605px;
	background-color: transparent;
	left: 188px;
}

#u904popup
{
	z-index: 57;
}

#u909
{
	z-index: 58;
	width: 871px;
	height: 605px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1273
{
	z-index: 60;
	width: 871px;
	height: 605px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1273_img
{
	margin-top: -31px;
	margin-bottom: -30px;
}

#u1128
{
	z-index: 62;
	width: 871px;
	height: 605px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1137
{
	z-index: 64;
	width: 871px;
	height: 605px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1146
{
	z-index: 66;
	width: 871px;
	height: 605px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1155
{
	z-index: 68;
	width: 871px;
	height: 605px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1128_img,#u1137_img,#u1146_img,#u1155_img
{
	margin-top: -39px;
	margin-bottom: -39px;
}

#u1164
{
	z-index: 70;
	width: 871px;
	height: 605px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1164_img
{
	margin-top: -34px;
	margin-bottom: -34px;
}

#u1182
{
	z-index: 72;
	width: 871px;
	height: 605px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1182_img
{
	padding-left: 54px;
	padding-right: 53px;
}

#u1191
{
	z-index: 74;
	width: 871px;
	height: 605px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1209
{
	z-index: 76;
	width: 871px;
	height: 605px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1209_img
{
	padding: 33px 75px 32px 76px;
}

#u1218
{
	z-index: 78;
	width: 871px;
	height: 605px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1218_img
{
	margin: -57px 165px -58px 166px;
}

#u1227
{
	z-index: 80;
	width: 871px;
	height: 605px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1227_img
{
	margin-top: -24px;
	margin-bottom: -24px;
}

#u1245
{
	z-index: 82;
	width: 871px;
	height: 605px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1273_clip,#u1128_clip,#u1137_clip,#u1146_clip,#u1155_clip,#u1164_clip,#u1218_clip,#u1227_clip,#u1245_clip
{
	overflow: hidden;
	width: 871px;
	height: 605px;
}

#u1245_img
{
	margin-top: -273px;
	margin-bottom: -273px;
}

#u897
{
	position: absolute;
	width: 1179px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	padding-bottom: 15px;
	top: 617px;
}

#u897popup
{
	z-index: 84;
}

#u902
{
	z-index: 85;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 139px;
}

#u1276
{
	z-index: 87;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 209px;
}

#u1131
{
	z-index: 89;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 279px;
}

#u1140
{
	z-index: 91;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 349px;
}

#u1149
{
	z-index: 93;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 419px;
}

#u1158
{
	z-index: 95;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 489px;
}

#u1131_img,#u1140_img,#u1149_img,#u1158_img
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u1167
{
	z-index: 97;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 559px;
}

#u1167_img
{
	margin-top: -1px;
}

#u1185
{
	z-index: 99;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 629px;
}

#u1194
{
	z-index: 101;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 699px;
}

#u1212
{
	z-index: 103;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 769px;
}

#u1221
{
	z-index: 105;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 839px;
}

#u1230
{
	z-index: 107;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 909px;
}

#u1248
{
	z-index: 109;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 979px;
}

#u902.SSSlideLinkSelected,#u1276.SSSlideLinkSelected,#u1131.SSSlideLinkSelected,#u1140.SSSlideLinkSelected,#u1149.SSSlideLinkSelected,#u1158.SSSlideLinkSelected,#u1167.SSSlideLinkSelected,#u1185.SSSlideLinkSelected,#u1194.SSSlideLinkSelected,#u1212.SSSlideLinkSelected,#u1221.SSSlideLinkSelected,#u1230.SSSlideLinkSelected,#u1248.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1276_clip,#u1131_clip,#u1140_clip,#u1149_clip,#u1158_clip,#u1167_clip,#u1248_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u1248_img
{
	margin-top: -17px;
	margin-bottom: -17px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u285
{
	z-index: 49;
	margin-left: 309px;
	top: -678px;
	margin-bottom: -329px;
}

#u119
{
	z-index: 3;
	min-height: 52px;
	padding-bottom: 51px;
}

#u117_align_to_page,#u119_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1479
{
	z-index: 51;
	width: 291px;
	min-height: 39px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 430px;
}

#u119-bw
{
	z-index: 3;
	min-height: 52px;
	margin-top: 21px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 58px;
}

#page .verticalspacer
{
	clear: both;
}

